[[source]]
name        = "pypi"
url         = "https://pypi.org/simple"
verify_ssl  = true

[dev-packages]
pylint = "~= 2.5.0"
pytest = "~= 5.4.0"

[packages]
{{ cookiecutter.package_name }} = {editable = true, path = "."}

[requires]
python_version = "{{ cookiecutter.minimum_python_version }}"
